template(name="editUserPage")
  if currentUserMayEditProfile
    with profile
      .ui.text.container
        +editUserAdmin
        +editUser
  else
    .ui.text.container.segment
      h1.header Kein Zugriff.
      p Sie sind für den Zugriff auf die Benutzerdaten mit der ID #{userId} nicht autorisiert.

template(name="editUserAdmin")
  h1.header Benutzerdaten für #{firstName} #{lastName}
  .ui.clearing.segment
    h3.ui.dividing.header userId
    p #{userId}
    h3.ui.dividing.header links
    .field
      input($b="check : editLinks" type="checkbox")
      label edit links
    if editLinks
      form.ui.form
        .field
          label mentorId
          input($b="value : mentorId, change : save" type="text" placeholder="userId des mentors")
        .field
          label parentId
          input($b="value : parentId, change : save" type="text" placeholder="userId des Elternaccounts")
    else
      .ui.divided.items
        +userLinkDisplay(userId=mentorId comment="Nachhilfelehrer")
        +userLinkDisplay(userId=parentId comment="Erziehungsberechtigter")
  .ui.clearing.segment
    h3.ui.dividing.header Zugriffsrechte
    .ui.vertical.buttons
      button.ui.button($b="click : toggleIsMentor, class : {positive : isMentor}") Der Benutzer ist Nachhilfelehrer.
      button.ui.button($b="click : toggleIsParent, class : {positive : isParent}") Der Benutzer ist Erziehungsberechtigter eines Schülers.
      button.ui.button($b="click : toggleMayNotEditOwnProfile, class : {negative : mayNotEditOwnProfile}") Der Benutzer darf sein eigenes Profil NICHT selbst verwalten.
        
template(name="editUser")
  .ui.clearing.segment
    form.ui.form
      h3.ui.dividing.header Persönliche Daten
      .field
        label Name
        .two.fields
          .field($b="class : { error : firstName.invalid }, attr : { title : firstName.message}")
            input($b="value : firstName" type="text" placeholder="Vorname")
          .field($b="class : { error : lastName.invalid }")
            input($b="value : lastName, attr : { title : lastName.message}" type="text" placeholder="Nachname")
      .field
        label Geburtsdatum
          .field($b="class : { error : dateOfBirth.invalid }")
            .ui.left.icon.input
              i.calendar.icon
              input($b="value : dateOfBirth, attr : { title : dateOfBirth.message}, ref : dateField")
      .field($b="class : { error : street.invalid }")
        label Straße/Hausnummer
        input($b="value : street, attr : { title : street.message}", type="text" placeholder="Musterstraße 123")
      .field
        label Plz/Ort
        .two.fields
          .field($b="class : { error : plz.invalid }")
            input($b="value : plz, attr : { title : plz.message}" type="text" placeholder="Plz")
          .field($b="class : { error : city.invalid }")
            input($b="value : city, attr : { title : city.message}" type="text" placeholder="Ort")
      .field($b="class : { error : phone.invalid }")
        label Telefon
        input($b="value : phone, attr : { title : phone.message}" type="text" placeholder="Telefonnummer")
      if isStudent
        h3.dividing.header Schule
        .field
          label Schule
          input($b="value : school" type="text" placeholder="Name und Typ der Schule")
        .field
          label Klasse/Jahrgangsstufe
          input($b="value : grade" type="text" placeholder="Klasse bzw. Jahrgangsstufe")
      if currentUserMayEditProfile
        button.right.floated.ui.button($b="click : save, enable : enableSaveButton") Speichern
      else
        button.right.floated.ui.button($b="enable : false") Speichern
          i.lock.icon
        
      
              
