template(name="editUserPage")
  if currentUserMayEditProfile
    .ui.text.container
      with user
        +editUserAdmin
      with user
        +editUserSchoolClass
      with profile
        +editUserProfile
  else
    .ui.text.container.segment
      h1.header Kein Zugriff.
      p Sie sind für den Zugriff auf die Benutzerdaten mit der ID #{userId} nicht autorisiert.

template(name="editUserSchoolClass")
  .ui.clearing.segment
    form.ui.form($b="visible : isStudent")
      .field
        label Klasse
        select.ui.search.dropdown($b="options : schoolClasses, optionsValue : id, optionsText : name, value : schoolClassId, ref : schoolClassSelect")
      button.right.floated.ui.button($b="click : save") Speichern
    p($b="visible : !isStudent") Nur Schüler haben eine Schulklasse.
    
template(name="editUserAdmin")
  h2.header Benutzerdaten für: #{profile.firstName} #{profile.lastName} (#{username})
  //- .ui.clearing.segment
  //-   h3.ui.dividing.header userId
  //-   p #{userId}
  //- .ui.clearing.segment
    h3.ui.dividing.header Interne Benutzerdaten
    form.ui.form
      .field
        label Referenznummer
        input($b="value : referenceNumber, attr : { title : referenceNumber.message}", type="text")
      
      button.right.floated.ui.button($b="click : save, enable : enableSaveButton") Speichern
  .ui.clearing.segment
    h3.ui.dividing.header Zugriffsrechte
    div($b="click : toggleIsAdmin")
      +checkmarkToggle(checked=isAdmin label="Der Benutzer hat Administratorrechte.")
    div($b="click : toggleIsMentor")
      +checkmarkToggle(checked=isMentor label="Der Benutzer ist Lehrer.")
    div($b="click : toggleMayNotEditOwnProfile")
      +checkmarkToggle(checked=mayNotEditOwnProfile label="Der Benutzer darf sein eigenes Profil NICHT selbst verwalten.")
        
template(name="editUserProfile")
  .ui.clearing.segment
    form.ui.form
      h3.ui.dividing.header Persönliche Daten
      .field
        label Name *
        .two.fields
          .field($b="class : { error : firstName.invalid }, attr : { title : firstName.message}")
            input($b="value : firstName" type="text" placeholder="Vorname")
          .field($b="class : { error : lastName.invalid }")
            input($b="value : lastName, attr : { title : lastName.message}" type="text" placeholder="Nachname")
      //- .field($b="class : { error : dateOfBirth.invalid }")
      //-   label Geburtsdatum
      //-     .field
      //-       .ui.left.icon.input
      //-         i.calendar.icon
      //-         input($b="value : dateOfBirth, attr : { title : dateOfBirth.message}, ref : dateField")
      //- .field($b="class : { error : street.invalid }")
      //-   label Straße/Hausnummer
      //-   input($b="value : street, attr : { title : street.message}", type="text" placeholder="Musterstraße 123")
      //- .field
      //-   label Plz/Ort
      //-   .two.fields
      //-     .field($b="class : { error : plz.invalid }")
      //-       input($b="value : plz, attr : { title : plz.message}" type="text" placeholder="Plz")
      //-     .field($b="class : { error : city.invalid }")
      //-       input($b="value : city, attr : { title : city.message}" type="text" placeholder="Ort")
      //- .field($b="class : { error : phone.invalid }")
      //-   label Telefon (Festnetz)
      //-   input($b="value : phone, attr : { title : phone.message}" type="text" placeholder="Telefonnummer")
      //- .field($b="class : { error : mobile.invalid }")
      //-   label Telefon (Mobil)
      //-   input($b="value : mobile, attr : { title : mobile.message}" type="text" placeholder="Handynummer")
      
      if currentUserMayEditProfile
        button.right.floated.ui.button($b="click : save, enable : enableSaveButton") Speichern
      else
        button.right.floated.ui.button($b="enable : false") Speichern
          i.lock.icon
        
      
              
