template(name="submissionsList")
  .ui.relaxed.selection.list
    each submissions
      +submissionDisplay
       
template(name="submissionDisplay")
  .item($b="ref : element")
    .ui.segment
      .content
        if answerCorrect
          i.ui.big.green.right.floated.checkmark.icon
        else
          i.ui.big.red.right.floated.remove.icon
        .header #{moduleTitle}, Level #{level}
        .description($b="text : timeAgo")
        .ui.segment
          h3.ui.header #{description}
          +teXDisplay(teX=problem)
          //- +mathjax
          //-   div $$#{problem}$$
        .ui.center.aligned.segment($b="class : answerSegmentClass") #{answer}
      
