template(name="navbar")
  +setLayout
  .ui.fixed.transparent.main.menu($b="style : style")
    a.item(href="/")
      i.large.info.circle.icon
    
    //- a.item(class=isActiveRoute('info') href="/info")
    //-   i.large.info.icon
    .right.menu
      a.item(class=isActiveRoute('moduleList') href="/modules")
        i.large.list.icon
      if currentUser
        a.item(class=isActiveRoute('studentOwnPage') href="/my-results")
          i.large.bar.graph.icon
        if hasTeacher
          a.item(class=isActiveRoute('mentorChat')
          $b="attr : {href : chatUrl}")
            i.large.comments.outline.icon($b="class : {red : hasUnreadMessages}")
        if isMentor
          a.item(class=isActiveRoute('mentorOverview') href="/mentor/overview")
            i.large.student.icon($b="class : {red : hasUnreadMessages}")
          //- a.item(class=isActiveRoute('calculator') href="/rechner")
          //-   i.large.calculator.icon
      a.item(class=isActiveRoute('help') href="/help")
        i.large.help.icon
      +navbarUserField
      if currentUser
        if isInRole "admin"
          a.item(class=isActiveRoute('adminPanel')
            href="/admin-panel")
            i.large.red.settings.icon
      if useMobile
        a.item($b="toggle : layoutEditorToggle")
          i.large.expand.icon
