template(name="submissionsList")
  .ui.relaxed.selection.list
    each submissions
      +submissionDisplay
       
template(name="submissionDisplay")
  .item($b="ref : element")
    .ui.segment
      .content
        if answerCorrect
          i.ui.big.green.right.floated.checkmark.icon
        else
          i.ui.big.red.right.floated.remove.icon
        .header #{moduleTitle}, Level #{level}
        .description($b="text : timeAgo")
        .ui.segment
          h4.ui.header #{description}
          unless customTemplateName
            unless skipExpression
              +teXDisplay(teX=problem)
            if drawSVG
              .ui.center.aligned.container
                with SVGData
                  +renderSVG
            if drawFunctionPlot
              .ui.center.aligned.container
                with functionData
                  +renderFunctionTemplate
          else
            +Template.dynamic(template=customTemplateName data=customTemplateData)
          //- +mathjax
          //-   div $$#{problem}$$
        .ui.center.aligned.segment($b="class : answerSegmentClass") #{answer}
      
