template(name="navbar")
  .ui.fixed.transparent.main.menu
    .header.item MatheCoach
    a.item(class=isActiveRoute('info') href="/info")
      i.large.info.icon
    .right.menu
      a.item(class=isActiveRoute('moduleList') href="/")
        i.large.list.icon
      //a.item(class=isActiveRoute('calculator') href="/rechner")
        | Test
      if currentUser
        a.item(class=isActiveRoute('studentOwnPage') href="/my-results")
          i.large.bar.graph.icon
        if hasMentor
          a.item(class=isActiveRoute('mentorChat')
          $b="attr : {href : chatUrl}")
            i.large.comments.outline.icon($b="class : {red : hasUnreadMessages}")
        if isInRole "admin"
          a.item(class=isActiveRoute('adminPanel')
            href="/admin-panel")
            i.large.red.settings.icon
        if isMentor
          a.item(class=isActiveRoute('mentorOverview') href="/mentor/overview")
            i.large.student.icon($b="class : {red : hasUnreadMessages}")
        a.item(class=isActiveRoute('userSettings') href="/user-settings")
          i.large.settings.icon
      a.item(class=isActiveRoute('help') href="/help")
        i.large.help.icon
      +loginButtons(allign="right")
          
