template(name="navbar")
  .ui.fixed.transparent.main.menu
    .header.item MatheCoach
    a.item(class=isActiveRoute('info') href="/info")
      i.large.info.icon
    .right.menu
      a.item(class=isActiveRoute('problem') href="/")
        | Aufgaben
      //a.item(class=isActiveRoute('outputtest') href="/outputtest")
        | test 1
      //a.item(class=isActiveRoute('home') href="/")
        i.large.home.icon
      //a.item(class=isActiveRoute('high-scores') href="/high-scores")
        i.large.star.icon
        | high-scores
      //if currentUser
        a.item(class=isActiveRoute('myPins') href="/my-pins")
          i.large.icons
            i.user.icon
            i.corner.pin.icon
        a.item(class=isActiveRoute('addPin') href="/add-pin")
          i.large.icons
            i.pin.icon
            i.corner.plus.icon
      //+loginButtons(allign="right")
          
