template(name="navbar")
  .ui.fixed.transparent.main.menu
    .header.item MatheCoach
    a.item(class=isActiveRoute('info') href="/info")
      i.large.info.icon
    .right.menu
      a.item(class=isActiveRoute('moduleList') href="/")
        i.large.list.icon
      //a.item(class=isActiveRoute('calculator') href="/rechner")
        | Test
      if currentUser
        if isMentor
          a.item(class=isActiveRoute('mentorOverview') href="/mentor/overview")
            i.large.student.icon
        a.item(class=isActiveRoute('userSettings') href="/user-settings")
          i.large.settings.icon
      a.item(class=isActiveRoute('help') href="/help")
        i.large.help.icon
      +loginButtons(allign="right")
          
